<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <!-- Favicons -->
  <link href="/media/img/favicon.ico" rel="icon">
  <link href="/media/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/media/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/media/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="/media/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/media/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="/media/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/media/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/media/css/style.css" rel="stylesheet">

    <title>{% block title %} {% endblock %}</title>
    <style>
        *{
          margin: 0;
          padding: 0;
        }
        body{
          box-sizing: border-box;
        }
        .nav-look:hover{
          font-weight: bold;
        }
        .nav-bold{
          font-weight: bold;
        }
        .letter-spacing{
          letter-spacing: 1px;
          font-weight: bold;
        }
        
        {% block css %}{% endblock %}

    </style>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light py-3" aria-label="Main">
        <div class="container">
          <div>
            <a href="/" class="navbar-brand text-dark letter-spacing">
              <img src="/media/img/icon.png" class="img-fluid mylogo">
            </a>
          </div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbar">
            <div class="navbar-nav mt-3 mt-md-0 ms-auto">
                <a class="nav-link px-md-3 nav-look {% block home %} {% endblock %}" href="/">Home</a>
                <a class="nav-link px-md-3 nav-look {% block about %} {% endblock %}" href="/about">About Us</a>
                <a class="nav-link px-md-3 nav-look {% block contact %} {% endblock %}" href="/contact">Contact Us</a>
                <a class="nav-link px-md-3 nav-look {% block resume %} {% endblock %}" href="/resume">Profile</a>
                <a class="nav-link px-md-3 nav-look {% block business %} {% endblock %}" href="/business">Business</a>
            </div>
            {% if user.is_authenticated%}
            <a class="btn btn-primary btn-sm rounded-pill mt-3 mt-md-0 ms-md-3 nav-bold" href="/logout">Logout</a>
            {% else %}
            <!-- Button Login modal -->
            <a class="btn btn-primary btn-sm rounded-pill mt-3 mt-md-0 ms-md-3 nav-bold" data-bs-toggle="modal" data-bs-target="#loginModal" href="#">Login</a>
             <!-- Button SignUp modal -->
            <a class="btn btn-primary btn-sm rounded-pill mt-3 mt-md-0 ms-md-3 nav-bold" data-bs-toggle="modal" data-bs-target="#SignupModal" href="#">Sign Up</a>
            {% endif %}
            
          </div>
          

          <!-- Modal Login -->
          <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header btn-primary">
                  <h5 class="modal-title" id="loginModalLabel">Login</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form method="POST" action="/login">
                    {% csrf_token %}
                    <div class="mb-3">
                      <label for="email" class="form-label">Email address</label>
                      <input type="email" class="form-control" name="Loginemail" id="email" aria-describedby="emailHelp">
                      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                      <label for="password" class="form-label">Password</label>
                      <input type="password" class="form-control" id="password" name="Loginpassword">
                    </div>
                    <div class="d-flex justify-content-center">
                      <button type="submit" class="btn btn-primary px-3">Submit</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

          <!-- Modal SignUp -->
        <div class="modal fade" id="SignupModal" tabindex="-1" aria-labelledby="SignupModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header btn-primary">
                <h5 class="modal-title" id="SignupModalLabel">Sign Up</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form method="POST" action="/signup">
                  {% csrf_token %}
                  <div class="mb-3">
                    <i class="fas fa-user prefix grey-text"></i>
                    <label for="fname" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="fname" name="fname" required>
                  </div>
                  <div class="mb-3">
                    <label for="lname" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="lname" name="lname" required>
                  </div>
                  <div class="mb-3">
                    <label for="email1" class="form-label">Email address</label>
                    <input type="email" class="form-control" name="email1" id="email1" required>
                  </div>
                  <div class="mb-3">
                    <label for="password1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password1" name="password1" required>
                  </div>
                  <div class="mb-3">
                    <label for="password2" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" id="password2" name="password2" required>
                  </div>
                  <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary btn-md">Create Acount</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
    {% for message in messages %}
    <div class="alert alert-{{message.tags}} mb-0 alert-dismissible fade show" role="alert">
      <strong>Message: </strong> {{message}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
    {% block body %}{% endblock %}
    <footer id="footer">
      <div class="container">
        <h3>Animesh Agarwal</h3>
        <p>Owner and Founder of Animesh Consultancy Service</p>
        <div class="social-links">
          <a href="https://www.linkedin.com/in/animesh-agarwal-7b7153147/" target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
        <div class="copyright">
          &copy; Copyright <strong><span>ACC</span></strong>. All Rights Reserved
        </div>
      </div>
    </footer><!-- End Footer -->
    {% block js %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
</body>
</html>